:root{
  /* Colors */
  --light-red: hsl(356, 100%, 66%);
  --Vlight-red: hsl(355, 100%, 74%);
  --Vdark-red: hsl(208, 49%, 24%);

  --neutral-white: hsl(0, 0%, 100%);
  /* menu */
  --menu-hamburger: url(./images/icon-hamburger.svg);

  /* Fonts */
  --font-overpass: 'Overpass', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;;
}
.header__container{
  display: flex;
  justify-content: center;
}
.header{
  padding: 20px 20px 100px 20px;
  background-color: var(--light-red);
  background-image: url(./images/);
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
  margin-bottom: 80px;
  /* position: relative; */
}
.title::before{
  content: var(--menu-hamburger);
  position: absolute;
  left: 80%;
}
.logo{
  width: 25%;
  margin-bottom: 50px;
}
.menu-active{
  width: 85%;
  position: fixed;
  background-color: var(--neutral-white);
  top: 15%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgb(116, 116, 116);
}
.menu-deactive{
  width: 85%;
  position: fixed;
  top: -80%;
  transition: all .5s;
  transition-delay: .5s;
}
.subtitle{
  font-size: 1.2em;
  margin-bottom: 10px;
}
.subtitle::after {
  content: url(./images/icon-arrow-dark.svg);
  margin-left: 5px;
}
.menu__list, ul{
  list-style: none;
  font-family: var(--font-overpass);
  font-weight: 600;
  text-align: center;
  line-height: 2rem;
  padding: 0;
}
.menu__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list__item{
  overflow: hidden;
  width: 80%;
  border-radius: 15px;
}
.list__item-active{
  overflow: hidden;
}
.submenu__list{
  height: 0;
  transition: all .5s;
  border-radius: 10px;
}
.submenu__list-active{
  width: 100%;
  background-color: hsl(0, 0%, 79%);
  height: 100px;
  transition: all .5s;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list__subitem{
  color: rgb(61, 61, 61);
}
.link{
  display: block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-overpass);
  margin: 20px auto;
  font-weight: 600;
  font-size: 1.2rem;
}
.btn__link{
  display: block;
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-overpass);
  margin: 20px auto;
  padding: auto;
  padding: 5%;
  box-sizing: border-box;
  border-radius: 40px;
  font-weight: 600;
  color: #fff;
}

.subtitle-pages{
  font-family: var(--font-overpass);
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  padding: 0 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.header__text{
  font-family: var(--font-overpass);
  color: #fff;
  text-align: center;
  font-weight: 300;
  padding: 0 40px;
  margin-bottom: 40px;
}
.container-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-start{
  text-decoration: none;
  display: block;
  border-radius: 20px;
  font-family: var(--font-ubuntu);
  font-weight: 700;
  font-size: 1rem;
  width: 120px;
  height: 40px;
  background-color: #fff;
  color: var(--light-red);
  box-sizing: border-box;
  padding: 10px 8px;
  margin-left: 10px;
}
.link-learn{
  padding: 10px 18px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  font-family: var(--font-ubuntu);
  font-weight: 700;
  font-size: .9rem;
  width: 120px;
  height: 40px;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
  margin-right: 10px;
}

/* Main */
.section__title{
  text-align: center;
  font-family: var(--font-overpass);
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.article{
  margin-bottom: 40px;
}
.article__img{
  display: block;
  margin: auto;
  width: 100%;
  height: 300px;
  object-fit: contain;
  /* z-index: -100; */
  margin-bottom: 40px;
}
.article__title{
  font-family: var(--font-overpass);
  font-size: 1.5rem;
  text-align: center;
  padding: 0 65px;
  box-sizing: border-box;
}
.article__text{
  font-family: var(--font-overpass);
  text-align: center;
  line-height: 1.5rem;
  padding: 0 40px;
}